
<form method="post">
    <fieldset>
        <input type="hidden" value="{{book.id}}" name="id">
        <div class="formbuilder-text form-group field-title">
            <label for="title" class="formbuilder-text-label">Title<span class="formbuilder-required">*</span></label>
            <input type="text" class="form-control" name="title" access="false" maxlength="255" id="title" required="required" aria-required="true" value="{{ book.title }}">
        </div>
        <div class="formbuilder-textarea form-group field-author">
            <label for="author" class="formbuilder-text-label">Author<span class="formbuilder-required">*</span></label>
            <input type="text" class="form-control" name="author" access="false" maxlength="255" id="author" required="required" value="{{ book.author }}">
        </div>
        <div class="formbuilder-textarea form-group field-author">
            <label for="isbn" class="formbuilder-text-label">ISBN<span class="formbuilder-required">*</span></label>
            <input type="text" class="form-control" name="isbn" access="false" maxlength="255" id="isbn" required="required" value="{{ book.isbn }}">
        </div>
        <div class="formbuilder-text form-group field-description">
            <label for="description" class="formbuilder-textarea-label">Description</label>
            <input type="text" class="form-control" name="description" access="false" maxlength="255" id="description" value="{{ book.description }}">
        </div>
        <div class="formbuilder-text form-group field-img">
            <label for="img" class="formbuilder-text-label">Img path
            <input type="text" class="form-control" name="img" access="false" id="img" title="img/" value="{{ book.img }}">
        </div>
        <div class="formbuilder-date form-group field-release">
            <label for="release" class="formbuilder-date-label">Release Date
                <br>
            </label>
            <input type="date" class="form-control" name="release" access="false" id="release" value="{{ book.releaseDate|date('Y-m-d') }}">
        </div>
        <div class="formbuilder-text form-group field-description">
            <label for="category" class="formbuilder-textarea-label">Category</label>
            <input type="text" class="form-control" name="category" access="false" maxlength="255" id="category" value="{{ book.category }}">
        </div>
        <div class="formbuilder-text form-group field-description">
            <label for="language" class="formbuilder-textarea-label">Language</label>
            <input type="text" class="form-control" name="language" access="false" maxlength="255" id="language" value="{{ book.language }}">
        </div>
        <div class="formbuilder-button form-group field-add">
            <input type="submit" value="Update">
        </div>
        <p>* - required </p>
    </fieldset>
</form>