{% include 'header.html.twig' %}
    <main>
    <h1> {{ title }} </h1>
{% include 'block/flash-message.html.twig' %}

    <div class="deck-div">
    {% for card in deck %}
        <div class="card
        {% if card["suit"] == "&hearts;" or card["suit"] == "&diams;" %}
             red
        {% else %}
            black
        {% endif %}
        "
        >
        <p class="symbol-top">{{ card["suit"]|raw }}</p>
        <p class="symbol-center">
            {{ card["value"]|raw }}
        </p>
        <p class="symbol-bottom">{{ card["suit"]|raw }}</p>
        </div>
    {% endfor %}

    </div>

    <p>Antal kort kvar: {{ length }}</p>
    
    <div class="column"><a href="{{ path('reset') }}">Återställ antal</a></div>
    <div class="column"><a href="{{ path('draw') }}">Nytt kort</a></div>

    </main>

{% include 'footer.html.twig' %}
