<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    </head>
    
    <body>
    <header>
        <nav class="navigation">
        <div class="row">
            <div class="column"><a href="{{ path('home') }}">Hem</a></div>
            <div class="column"><a href="{{ path('about') }}">Om</a></div>
            <div class="column"><a href="{{ path('report') }}">Redovisning</a></div>
            <div class="column"><a href="{{ path('card') }}">Card</a></div>
            <div class="column"><a href="{{ path('game') }}">Game</a></div>
        </div>
        </nav>
    </header>