<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </head>
    
    <body>
    <header>
        <nav class="navigation">
        <div class="row">
            <div class="column"><a href="{{ path('home') }}">Hem</a></div>
            <div class="column"><a href="{{ path('about') }}">Om</a></div>
            <div class="column"><a href="{{ path('report') }}">Redovisning</a></div>
            <div class="column"><a href="{{ path('card') }}">Card</a></div>
            <div class="column"><a href="{{ path('game') }}">Game</a></div>
            <div class="column"><a href="{{ path('app_book') }}">Books</a></div>
        </div>
        </nav>
    </header>